<h2>ログイン</h2>

<%= form_with model: @customer, url: customer_session_path, method: :post do |f| %>
  <div class="field">
    <label>メールアドレス</label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <label>パスワード</label><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>

<% end %>

<h2>会員登録がお済みでない方</h2>
<p>
  <%= link_to "こちら", new_customer_registration_path %>
  から新規登録を行なってください。
</p>
<%#= render "public/shared/links" %>
