<div>
  <h1>商品一覧</h1>
  <p>(全<%= @item_count %>件)</p>
</div>

<% @item.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image(300,200) %>
      <p><%= item.name %></p>
    <% end %>
    <p><%= item.add_tax_price %>円</p>
  </div>
<% end %>
