
<%= image_tag @item.get_image(400,300) %>

<h2><%= @item.name %></h2>
<h4><%= @item.introduction %></h4>

<h3>¥ <%= @item.add_tax_price.to_s(:delimited) %> (税込)</h3>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <p><%= f.select :amount, *[1..10], :include_blank => "個数選択" %></p>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit 'カートに入れる' %>

<% end %>

